html {
    height: 100%;
}

body {
    background-color: rgb(176, 25, 126);
    background-image: linear-gradient(rgb(67, 10, 48), rgb(176, 25, 126));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.reset {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container {
    max-width: 500px !important;
    text-align: center;
}

.panel {
    pointer-events: auto;
  }

  .logo {
    margin-bottom: 30px;
    max-width: 300px;

    fill: #fff;
  }

.col-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
