{% extends 'base.html' %}
{% block body %}
<div class="card mb-3">
	<div class="card-body">
		<h3 class="card-title mb-3">Administration</h3>
		{% if not token %}
		<p class="card-text mb-4">
			Search for a user below to generate a temporary password reset token.
		</p>
		<form action="/admin" method="post">
			<input type="text" class="form-control mb-2" id="username" name="username" placeholder="Username">
			<div style="width: 100%; text-align: right;">
				<button type="submit" class="btn btn-success mt-2">
					Submit <i class="fas fa-check"></i>
				</button>
			</div>
		</form>
		{% else %}
		<p class="card-text mb-4">
			Please provide the users with the link below!
		</p>
		<p class="card-text mb-4">
			<a href="https://account.csh.rit.edu/reset?token={{token}}">
				https://account.csh.rit.edu/reset?token={{token}}
			</a>
		</p>
		{% endif %}
	</div>
</div>

{% if not token %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src='/static/js/selectize.js'></script>
<script type="text/javascript">
	$("input[name='username']").selectize({
		persist: false,
		maxItems: 1,
		openOnFocus: false,
		closeAfterSelect: true,
		plugins: ['remove_button'],
		valueField: 'value',
		labelField: 'display',
		searchField: 'display',
		selectOnTab: true,
		options: [{% for member in members %}{"display": "{{member['display']}}", "value": "{{member['value']}}"},{% endfor %}]});
</script>
{% endif %}
{% endblock %}
