<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    {% include "include/head.html" %}
</head>
{% endblock %}

<body>
    <section class="reset">
        <div class="container ss-container">
        {% include "include/logo.html" %}
        {% block body %}

        {% endblock %}
        {% block footer %}
            {% include "include/footer.html" %}
        {% endblock %}
        </div>
    </section>

{% block scripts %}
    {% include "include/scripts.html" %}
{% endblock %}

</body>
</html>
