<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Marc Billow">

        <title>Account Recovery</title>

        <meta name="theme-color" content="#B0197E">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://s3.csh.rit.edu/csh-material-bootstrap/4.0.0/dist/csh-material-bootstrap.min.css" media="screen">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>

        <link rel="stylesheet" href="/static/css/style.css">

    </head>
{% endblock %}

<body>
    <section class="reset">
        <div class="container">
        {% include "include/logo.html" %}
        {% block body %}

        {% endblock %}
        {% block footer %}
            {% include "include/footer.html" %}
        {% endblock %}
        </div>
    </section>

{% block scripts %}
    {% include "include/scripts.html" %}
{% endblock %}

</body>
</html>
