{% extends 'base.html' %}
{% block body %}
<div class="card mb-3">
	<div class="card-body" style="text-align: left;">
		<h3 class="card-title">Account Recovery</h3>
		<p class="card-text">
			Recover your CSH Account
		</p>
		<form action="/recovery" method="post">
			<input type="text" class="form-control mb-2" id="username" name="username" placeholder="CSH Username">
			<div style="width: 100%; text-align: center;">
				{{recaptcha}}
			</div>
			<div style="width: 100%; text-align: right;">
				<button type="submit" class="btn btn-info mt-2">
					Next <i class="fas fa-chevron-right"></i>
				</button>
			</div>
		</form>

	</div>
</div>
{% endblock %}
