{% extends 'base.html' %}
{% block body %}
<div class="card mb-3">
	<div class="card-body" style="text-align: left;">
		<h3 class="card-title mb-3">Account Recovery</h3>
		<h5 class="card-subtitle mb-4 text-muted">
			<i class="fas fa-user" style="margin-right: 5px;"></i>
			{{username}}@csh.rit.edu
		</h5>
		<p class="card-text mb-4">
			Please enter the confirmation number sent to you.
		</p>
		<form action="/recovery/{{recovery_id}}/phone/verify" method="post">
			<input type="text" class="form-control mb-2" id="verify" name="verify" placeholder="Verification Code">
			<div style="width: 100%; text-align: right;">
				<button type="submit" class="btn btn-success mt-2">
					Submit <i class="fas fa-check"></i>
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
