{% extends 'base.html' %}
{% block body %}
<div class="card mb-3">
	<div class="card-body">
		<div style="transform: scale(1.5, 1.5);"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
		</div>
		<h3>Success!</h3>
		<p>We sent a recovery link to the contact method you selected! If you don't receive anything in the next few minutes, try again with a different method or contact an RTP (rtp@csh.rit.edu).</p>
	</div>
</div>
{% endblock %}
